<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>{{ page.title | default: site.title }}</title>
  <link rel="icon" href="{{ 'assets/favicon.ico' | relative_url }}">
  {%- seo -%}
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>
<body>
  <header class="site-header">
    <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
    <nav>
      {%- for item in site.nav -%}
        <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
      {%- endfor -%}
    </nav>
  </header>

  <main class="container">
    {{ content }}
  </main>

  <footer class="site-footer">
    <small>© {{ site.title }}</small>
  </footer>
</body>
</html>
